<?xml version="1.0" encoding="UTF-8"?>
  
<odoo>
	
	<!-- <template id="webclient_bootstrap" name="Web Client" inherit_id="web.webclient_bootstrap">
        <xpath expr="//t[@t-set='head']" position="after">
            <t t-set="head_web_theme">
                <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
            </t>
            <t t-set="head" t-value="head_web_theme + (head or '')"/>
        </xpath>
        <xpath expr="//t[@t-set='body_classname']" position="after">
        	<t t-set="body_sidebar_classname" t-value="'mk_sidebar_type_' + request.env.user.sidebar_type or 'small'"/>
        	<t t-set="body_chatter_classname" t-value="'mk_chatter_position_' + request.env.user.chatter_position or 'sided'"/>
            <t t-set="body_classname" t-value="'%s %s %s' % (body_classname, body_sidebar_classname, body_chatter_classname)"/>
        </xpath>
    </template> -->
    <!-- <template id="index">
        <t t-call="website.layout">
            <t t-set="title">Academy</t>
            <div class="oe_structure">
                <div class="container">
                    <a>aaaaaa</a>
                </div>
            </div>
        </t>
    </template> -->

    <record id="web.action_window" model="ir.actions.act_window" >
      <field name="name">Web</field>
      <field name="res_model">academy.academy</field>
      <field name="view_mode">tree,form</field>
    </record>

    <!-- <menuitem name="Academy" id="academy.menu_root"/> -->

    <menuitem id="web" name="Web" groups="base.group.user"/>
    <menuitem id="web_1" parent="web" name="Web" action="web.action_window" groups="base.group.user"/>
	
</odoo>
